# 오늘의 집 크롤링데이터 전처리
- 숫자데이터 처리
- 4요소(내구성, 가격, 배송, 디자인) 숫자처리
- 기타 전처리 진행

In [1]:
# 파일시스템 관련
import os

# 데이터 처리 관련
import numpy as np
import pandas as pd

# 텍스트 전처리 관련
import re
import string
# from konlpy.tag import Kkma
# stopwords도 알아서 구해볼것

# 데이터시각화 관련
import matplotlib.pyplot as plt
%matplotlib inline

# sklearn
# from sklearn import model_selection
# from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df_raw = pd.read_excel("오늘의 집_크롤링 완성_2.xlsx")
df_raw.head(1)

,Unnamed: 0,상품명,가격,총점,리뷰수,날짜,아이디,별점,내구성,가격.1,디자인,배송,좋아요,내용
0,0,푸코 스텐레스 칼블럭 칼꽂이 멀티홀더,"24,900원",5.0,1,2021.01.06 ∙ 오늘의집 구매,와플17,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,none,칼꽃이 여러개 꽂을수 있고 뒤에 도마까지 수납되고 조리용품도 한꺼번에 수납되어서 쓰...

In [3]:
df = df_raw[['상품명','가격','총점','리뷰수','날짜','아이디','별점','내구성','가격.1','디자인','배송','좋아요','내용']]
df.head(1)

,상품명,가격,총점,리뷰수,날짜,아이디,별점,내구성,가격.1,디자인,배송,좋아요,내용
0,푸코 스텐레스 칼블럭 칼꽂이 멀티홀더,"24,900원",5.0,1,2021.01.06 ∙ 오늘의집 구매,와플17,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,none,칼꽃이 여러개 꽂을수 있고 뒤에 도마까지 수납되고 조리용품도 한꺼번에 수납되어서 쓰...

In [4]:
df.shape

(139385, 13)

In [5]:
# dropna, drop_duplicaates()
# df = df.dropna()
df = df.drop_duplicates()
df.shape

(139276, 13)

In [6]:
# 숫자 전처리
df['별점']=df['별점'].apply(lambda x: float(x[-4:-1]))

df['내구성']=df['내구성'].apply(lambda x: float(x[-4:-1]) if x != "none" else 10000.1)

df['가격.1']=df['가격.1'].apply(lambda x:float(x[-4:-1]) if x != "none" else 10000.1)

df['디자인']=df['디자인'].apply(lambda x: float(x[-4:-1]) if x != "none" else 10000.1)

df['배송']=df['배송'].apply(lambda x: float(x[-4:-1]) if x != "none" else 10000.1)

# 상세평점 작성하지 않은 row는 버리기
df = df[df['내구성'] < 6]


df['디자인']

0         5.0
3         5.0
6         5.0
9         5.0
10        5.0
         ...
139380    3.0
139381    5.0
139382    5.0
139383    4.0
139384    2.0
Name: 디자인, Length: 134506, dtype: float64

In [7]:
print(df.shape)
df.head(2)

(134506, 13)

,상품명,가격,총점,리뷰수,날짜,아이디,별점,내구성,가격.1,디자인,배송,좋아요,내용
0,푸코 스텐레스 칼블럭 칼꽂이 멀티홀더,"24,900원",5.0,1,2021.01.06 ∙ 오늘의집 구매,와플17,5.0,5.0,5.0,5.0,5.0,none,칼꽃이 여러개 꽂을수 있고 뒤에 도마까지 수납되고 조리용품도 한꺼번에 수납되어서 쓰...
3,ROTERA 미니 양초 랜턴 4colors,"6,100원",4.7,350,2019.09.18 ∙ 오늘의집 구매,나은9592,5.0,5.0,5.0,5.0,5.0,1,저렴한 가격에 예쁜 인테리어 소품입니당 초 오래 태우고 위에 만지면 뜨거워요 조심조심

In [8]:
df.상품명.value_counts()

심플 디켄더 유리화병 꽃병                       500
원목 화분 받침대_3size                      500
코시나 라탄 커트러리 cocina rattan cutlery    500
헤링본 발탄 러그 카페트 4colors 4size          500
순수원목 수납 선반형 사다리행거                    500
                                    ...
전자레인지 MS23K3523AK 블랙 쾌속해동 23L          1
350 자작나무 원형거울                          1
블랙 엔틱벨 저소음 탁상시계 2size 자명종 알람시계         1
아로스 단스탠드_4colors                       1
사과박스                                   1
Name: 상품명, Length: 901, dtype: int64

In [9]:
df_pre = pd.DataFrame(df['상품명'].value_counts())
df_pre.reset_index(level=0, inplace=True)
df_pre.columns = ['상품명', '리뷰수']
df_pre

                                   상품명  리뷰수
0                       심플 디켄더 유리화병 꽃병  500
1                      원목 화분 받침대_3size  500
2    코시나 라탄 커트러리 cocina rattan cutlery  500
3          헤링본 발탄 러그 카페트 4colors 4size  500
4                    순수원목 수납 선반형 사다리행거  500
..                                 ...  ...
896      전자레인지 MS23K3523AK 블랙 쾌속해동 23L    1
897                      350 자작나무 원형거울    1
898     블랙 엔틱벨 저소음 탁상시계 2size 자명종 알람시계    1
899                   아로스 단스탠드_4colors    1
900                               사과박스    1

[901 rows x 2 columns]

In [10]:
# 상품명 따로 빼기
pnames = df_pre['상품명'].tolist()
print(pnames[:10], len(pnames))

['심플 디켄더 유리화병 꽃병', '원목 화분 받침대_3size', '코시나 라탄 커트러리 cocina rattan cutlery', '헤링본 발탄 러그 카페트 4colors 4size', '순수원목 수납 선반형 사다리행거', '순수한 테이블보 2size', '선수 행거', '원목 원형스툴', '1+1 다운필 베개솜 2size', '네오 원목 강화유리 사이드테이블 / 침대협탁 /원목선반 /틈새수납'] 901

In [11]:
df_pre.loc[df_pre.상품명 == '원목 원형스툴']

       상품명  리뷰수
7  원목 원형스툴  500

In [12]:
dura = []
pricing = []
ship = []
design = []
# 상품명별 내구성, 가격.1, 배송, 디자인 요소 평균내기

for pname in pnames:
    dura.append(round(df[df['상품명'] == pname]['내구성'].mean(),1))
    pricing.append(round(df[df['상품명'] == pname]['가격.1'].mean(),1))
    design.append(round(df[df['상품명'] == pname]['디자인'].mean(),1))
    ship.append(round(df[df['상품명'] == pname]['배송'].mean(),1))
    
df_pre['내구성'] = dura
df_pre['가격.1'] = pricing
df_pre['디자인'] = design
df_pre['배송'] = ship

df_pre.head(10)

                                    상품명  리뷰수  내구성  가격.1  디자인   배송
0                        심플 디켄더 유리화병 꽃병  500  4.8   4.9  4.9  4.9
1                       원목 화분 받침대_3size  500  4.6   4.4  4.5  4.7
2     코시나 라탄 커트러리 cocina rattan cutlery  500  4.3   4.7  4.8  4.7
3           헤링본 발탄 러그 카페트 4colors 4size  500  5.0   5.0  5.0  5.0
4                     순수원목 수납 선반형 사다리행거  500  5.0   4.6  5.0  5.0
5                        순수한 테이블보 2size  500  5.0   5.0  5.0  5.0
6                                 선수 행거  500  4.9   4.7  4.9  4.9
7                               원목 원형스툴  500  5.0   5.0  5.0  5.0
8                     1+1 다운필 베개솜 2size  499  4.7   4.7  4.7  4.7
9  네오 원목 강화유리 사이드테이블 / 침대협탁 /원목선반 /틈새수납  499  5.0   5.0  5.0  5.0

In [15]:
df_pre.to_excel("오늘의집_크롤링데이터2_제품별 별점 전처리.xlsx", index=False)