# 오늘의 집 크롤링데이터 전처리
- 숫자데이터 처리
- 4요소(내구성, 가격, 배송, 디자인) 숫자처리
- 기타 전처리 진행

In [2]:
# 파일시스템 관련
import os

# 데이터 처리 관련
import numpy as np
import pandas as pd

# 텍스트 전처리 관련
import re
import string
# from konlpy.tag import Kkma
# stopwords도 알아서 구해볼것

# 데이터시각화 관련
import matplotlib.pyplot as plt
%matplotlib inline

# sklearn
# from sklearn import model_selection
# from sklearn.feature_extraction.text import CountVectorizer

In [3]:
df_1 = pd.read_excel("오늘의 집_최종_4300개 중 1900개.xlsx")
df_1.shape

(236690, 14)

In [31]:
df_1.상품명.nunique()

1680

In [32]:
df_2.상품명.nunique()

964

In [33]:
df_3.상품명.nunique()

906

In [5]:
df_2 = pd.read_excel("오늘의 집_크롤링 완성_2.xlsx")
df_2.head(1)

,Unnamed: 0,상품명,가격,총점,리뷰수,날짜,아이디,별점,내구성,가격.1,디자인,배송,좋아요,내용
0,0,푸코 스텐레스 칼블럭 칼꽂이 멀티홀더,"24,900원",5.0,1,2021.01.06 ∙ 오늘의집 구매,와플17,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,none,칼꽃이 여러개 꽂을수 있고 뒤에 도마까지 수납되고 조리용품도 한꺼번에 수납되어서 쓰...

In [4]:
df_3 = pd.read_excel("오늘의 집_크롤링 완성_3.xlsx")
df_3.shape

(126017, 14)

In [59]:
df_theme = pd.read_excel("오늘의 집_스타일 리뷰 전체_수정.xlsx")

In [60]:
df_theme.shape

(508629, 14)

In [92]:
# 리뷰수 column 더하기
df_theme.insert(4, "리뷰수", -1) # 파라미터: 몇번째 위치, 컬럼명, 값
df_theme.head(1)

,Unnamed: 0,상품명,가격,총점,리뷰수,날짜,아이디,별점,내구성,가격.1,디자인,배송,좋아요,내용,테마
0,0,인테리어 벽난로 장식선반장,"290,000원",4.5,-1,2021.01.19 ∙ 오늘의집 구매,예블리예,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,1,작년부터 벽난로 욕심났는데... 계속 미루다 이제야 구매했네요 고민은 배송만 늦출뿐...,Vintage

In [96]:
# 테마 column 지우기
df_theme = df_theme.drop(columns=['테마'])
print(df_theme.shape)
df_theme.head(1)

(508629, 14)

,Unnamed: 0,상품명,가격,총점,리뷰수,날짜,아이디,별점,내구성,가격.1,디자인,배송,좋아요,내용
0,0,인테리어 벽난로 장식선반장,"290,000원",4.5,-1,2021.01.19 ∙ 오늘의집 구매,예블리예,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,1,작년부터 벽난로 욕심났는데... 계속 미루다 이제야 구매했네요 고민은 배송만 늦출뿐...

In [109]:
df_theme.상품명.nunique()

371

In [110]:
# 상품명별 리뷰수 dictionary형태로 빼기
num_of_review = df_theme.상품명.value_counts().to_dict()

In [115]:
print(len(num_of_review))
num_of_review['인테리어 벽난로 장식선반장'] # 값 하나 불러보기

371

1019

In [150]:
df_theme.iloc[0] # ['상품명']

Unnamed: 0                                                    0
상품명                                              인테리어 벽난로 장식선반장
가격                                                     290,000원
총점                                                          4.5
리뷰수                                                          -1
날짜                                         2021.01.19 ∙ 오늘의집 구매
아이디                                                        예블리예
별점                                                      별점 5.0점
내구성                                                     별점 5.0점
가격.1                                                    별점 5.0점
디자인                                                     별점 5.0점
배송                                                      별점 5.0점
좋아요                                                           1
내용            작년부터 벽난로 욕심났는데... 계속 미루다 이제야 구매했네요 고민은 배송만 늦출뿐...
Name: 0, dtype: object

In [167]:
num_of_review[df_theme.iloc[1020]['상품명']]

704

In [168]:
for i in range(df_theme.shape[0]):
    # 해당 행의 column명 값을 바꾸는 코드
    df_theme.at[i, '리뷰수'] = num_of_review[df_theme.iloc[i]['상품명']]
df_theme.head(2)

,Unnamed: 0,상품명,가격,총점,리뷰수,날짜,아이디,별점,내구성,가격.1,디자인,배송,좋아요,내용
0,0,인테리어 벽난로 장식선반장,"290,000원",4.5,1019,2021.01.19 ∙ 오늘의집 구매,예블리예,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,1,작년부터 벽난로 욕심났는데... 계속 미루다 이제야 구매했네요 고민은 배송만 늦출뿐...
1,1,인테리어 벽난로 장식선반장,"290,000원",4.5,1019,2021.01.03 ∙ 오늘의집 구매,꽃님언니,별점 4.5점,별점 4.0점,별점 5.0점,별점 5.0점,별점 4.0점,1,거실 통하는 복도가 썰렁해서 벽난로 뒀어요 ㅎㅎ 귀가해서 주머니 속에 있는 자동차 ...

In [185]:
df_theme.iloc[27777]

Unnamed: 0                      27813
상품명           베가 플리아 투명 접이식의자 7colors
가격                            48,900원
총점                                4.7
리뷰수                             16981
날짜               2021.01.03 ∙ 오늘의집 구매
아이디                              아비스파
별점                            별점 5.0점
내구성                           별점 5.0점
가격.1                          별점 5.0점
디자인                           별점 5.0점
배송                            별점 5.0점
좋아요                              none
내용               물건도 예쁘고 배송도 빨라서 좋습니다
Name: 27777, dtype: object

In [186]:
# 리뷰수 체크 안된 row 있나 확인
df_theme[df_theme.리뷰수 == -1]

Empty DataFrame
Columns: [Unnamed: 0, 상품명, 가격, 총점, 리뷰수, 날짜, 아이디, 별점, 내구성, 가격.1, 디자인, 배송, 좋아요, 내용]
Index: []

In [187]:
# 상세별점 안 남긴 row 있나 확인
df_theme[df_theme['내구성']==np.nan]

Empty DataFrame
Columns: [Unnamed: 0, 상품명, 가격, 총점, 리뷰수, 날짜, 아이디, 별점, 내구성, 가격.1, 디자인, 배송, 좋아요, 내용]
Index: []

## 새로운 df_full

In [251]:
# 합쳐보자
df_full = pd.concat([df_1, df_2, df_3, df_theme]) # list에 DataFrame 차곡차곡 지정
df_full.shape

(1010721, 14)

In [252]:
#######################
#  컬럼 골라내기
#######################
df = df_full[['상품명','가격','총점','리뷰수','날짜','아이디','별점','내구성','가격.1','디자인','배송','좋아요','내용']]
df.상품명.nunique()

3847

In [253]:
df.shape

(1010721, 13)

In [254]:
df.sample(10)

,상품명,가격,총점,리뷰수,날짜,아이디,별점,내구성,가격.1,디자인,배송,좋아요,내용
49386,지노위빙 사각테이블 2size 3colors,"12,900원",4.6,979,2020.09.16 ∙ 오늘의집 구매,pooh5462,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,none,비싼거 필요없어요 너무 이뻐요!!!!! 큰사이즈 사려다 작은거 삿는데 제가 원한 느...
165148,Romane 발매트 shape type 6종 택1,"9,400원",4.8,"5,031",2020.12.10 ∙ 오늘의집 구매,harperlog,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,none,따뜻하고 귀여운 노란빛이에요ㅠㅠㅠ 생각보다 더 큼직하고 문 크기에 잘 맞아서 완전 ...
24564,베가 플리아 투명 접이식의자 7colors,"48,900원",4.7,16981,2021.01.13 ∙ 오늘의집 구매,구지현5,별점 4.0점,별점 4.0점,별점 4.0점,별점 5.0점,별점 3.0점,none,틴트브라운 투명 둘다 마음에 들어요 다만 접이식이라 그런지 앉는 부분이 짧아 아주 ...
234254,유럽인기 라탄바구니/라탄 화분커버,"5,900원",4.6,"1,743",2020.07.04 ∙ 다른 쇼핑몰 구매,행복천사8,별점 5.0점,none,none,none,none,none,가성비 갑인 바구니에요~~작은 사이즈는 휴지케이스로 사용하고 중간 사이즈는 재활용 ...
250812,선데이 러그 7size 4colors,"15,900원",4.7,77378,2020.04.23 ∙ 오늘의집 구매,앙마아니,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,none,우리집 거실에 딱 완전 잘샀어요 청소기로 막 밀어도 되고요
30896,[LED] 우드디쉬 단스탠드,"48,900원",4.6,97,2018.08.21 ∙ 오늘의집 구매,뽀오뽀,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,none,오아 조명도 은은하구 고급스러워요~~♡
505379,VARNA 단스탠드 6colors E14 KS2246T,"13,300원",4.7,8277,2020.03.18 ∙ 오늘의집 구매,514ceo,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,1,디자인이며 아주 마음에 드네요^^ 배송도 빨라요
276416,[5%추가할인] 원목 오동나무 우드블라인드 우드폼 45colors,"17,000원",4.6,3133,2021.01.05 ∙ 오늘의집 구매,앤지z,별점 4.3점,별점 3.0점,별점 4.0점,별점 5.0점,별점 5.0점,none,배송이 느릴줄 알았는데 2-3일만에 온거같구요 창문이 갈색이라 맘에 안들었는데 요 ...
133290,VIANT 단스탠드 E14 KS2305T 베이스형,"31,900원",4.7,31,2020.12.03 ∙ 오늘의집 구매,채명지,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,별점 5.0점,none,방분위기를 확살려주는 조명이에요 작은데 방에두기 딱이고 넘 예뻐요
62101,프리미엄 다크 일파만파 북선반 4colors,"39,000원",4.2,685,2020.11.06 ∙ 오늘의집 구매,희야1210,별점 3.5점,별점 3.0점,별점 3.0점,별점 4.0점,별점 4.0점,none,우선 냄새 빼는데 이틀 꼬박 걸렸어요 레몬소주로 닦아 베란다에 이틀 두고 닦았더니 ...

## 전처리

In [255]:
# dropna, drop_duplicates()
# df = df.dropna() # null값 있는 row 없에는 코드는 일단 제외
df = df.drop_duplicates()
df.shape

(817400, 13)

In [256]:
# test
df.리뷰수.unique() # 혹시 -1 남았나 확인

array(['2', '56', '6', ..., 49, 174, 1604], dtype=object)

In [257]:
# 좋아요도 none값 없에줘야함!
# 좋아요 처리시 ',' 없에줘야함!
df.좋아요.unique()

array(['none', '2', '1', '7', '6', '4', '3', '9', '5', '49', '8', '248',
       '27', '26', '23', '21', '18', '16', '15', '13', '11', '10', '19',
       '303', '223', '86', '82', '79', '48', '47', '36', '35', '34', '29',
       '25', '24', '20', '14', '55', '37', '17', '12', '33', '70', '217',
       '88', '87', '31', '28', '50', '46', '1,080', '191', '271', '67',
       '63', '22', '39', '38', '30', '97', '66', '51', '42', '1,606',
       '996', '144', '40', '32', '212', '1,134', '346', '298', '211',
       '165', '161', '105', '84', '61', '59', '56', '101', '81', '77',
       '703', '362', '251', '228', '201', '91', '85', '65', '45', '72',
       '160', '58', '57', '213', '71', '54', '53', '52', '44', '230',
       '502', '443', '89', '62', '173', '169', '129', '68', '60', '302',
       '136', '115', '73', '261', '114', '75', '78', '309', '69', '41',
       '102', '64', '264', '146', '90', '483', '83', '182', '596', '99',
       '187', '135', '123', '103', '485', '286', '149', '342', '43', '76',
       '108', '294', '104', '152', '406', '312', '181', '92', '550',
       '167', '116', '262', '324', '112', '107', '142', '125', '150',
       '74', '155', '137', '382', '424', '321', '210', '274', '122',
       '172', '188', '247', '310', '126', '245', '380', '462', '468',
       '121', '158', '246', '358', '513', '453', '4,153', '131', '139',
       '98', '130', '192', '229', '285', '194', '208', '660', '338',
       '100', '239', '204', '562', '313', '147', '289', '118', '368',
       '381', '124', '4,154', '284', '176', '128', '120', '106', '151',
       '133', '80', '470', '398', '171', '148', '113', '177', '1,185',
       '291', '263', '159', '224', '178', '695', '670', '287', '199',
       '166', '162', '109', '179', '410', '174', '93', '168', '299',
       '157', '96', '2,333', '669', '668', '629', '573', '472', '404',
       '280', '231', '190', '163', '154', '117', '606', '598', '590',
       '577', '576', '565', '547', '527', '526', '518', '517', '514',
       '511', '509', '507', '506', '505', '504', '503', '490', '476',
       '454', '409', '405', '403', '401', '397', '391', '390', '389',
       '388', '387', '386', '383', '357', '347', '340', '336', '333',
       '323', '227', '218', '205', '141', '111', '933', '449', '369',
       '225', '138', '95', '94', '153', '220', '185', '183', '175', '170',
       '164', '156', '145', '352', '854', '739', '600', '445', '334',
       '110', '1,044', '536', '237', '260', '244', '236', '134', '127',
       '899', '1,497', '802', '528', '189', '119', '363', '328', '243',
       '297', '219', '143', '265', '301', '1,673', '193', '360', '917',
       '440', '186', '275', '937', '252', '1,264', '234', '667', '221',
       '132', '439', '491', '1,111', '686', '2,123', '395', '195',
       '1,589', '589', '254', '198', '356', '370', '457', '467', '320',
       '1,703', '650', '266', '694', '180', '268', '355', '329', '361',
       '351', '200', '400', '570', '2,329', '567', '471', '628', '2,328',
       '222', '317', '1,102', '270', '215', '257', '512', '140', '202',
       '571', '2,331'], dtype=object)

In [258]:
pd.isna(np.nan)

True

## 숫자데이터 전처리하는 부분

In [259]:
# 숫자 전처리
df['별점']=df['별점'].apply(lambda x: float(x[-4:-1]))
                                                            # null이 아니고        문자열 길이 6 이상인것만
                                                                                  # 나머진 10000.1로 강제 지정
df['내구성']=df['내구성'].apply(lambda x: float(x[-4:-1]) if ((not pd.isna(x)) and len(x) > 5) else 10000.1)

df['가격.1']=df['가격.1'].apply(lambda x:float(x[-4:-1]) if ((not pd.isna(x)) and len(x) > 5) else 10000.1)

df['디자인']=df['디자인'].apply(lambda x: float(x[-4:-1]) if ((not pd.isna(x)) and len(x) > 5) else 10000.1)

df['배송']=df['배송'].apply(lambda x: float(x[-4:-1]) if ((not pd.isna(x)) and len(x) > 5) else 10000.1)

# 좋아요 처리
df['좋아요']=df['좋아요'].apply(lambda x: x.replace(",",""))
df['좋아요']=df['좋아요'].apply(lambda x: int(x) if x != "none" else 0)

# 상세평점 작성하지 않은 row는 버리기 <- 상품 몇개 날라갈 위험 존재!!!
df = df[(df['내구성'] > 0) & (df['내구성'] < 6)]


df['디자인']

0         5.0
1         4.0
2         5.0
3         5.0
4         5.0
         ...
508604    5.0
508605    4.0
508606    5.0
508608    5.0
508609    5.0
Name: 디자인, Length: 793223, dtype: float64

In [260]:
df['내구성'].unique()

array([4., 5., 3., 2., 1.])

In [261]:
df['리뷰수'].unique()

array(['2', '56', '6', ..., 49, 174, 1604], dtype=object)

In [264]:
# 좋아요에서 none 없에고 세자리마다 , 표시 제거함
df['좋아요'].nunique()

401

In [265]:
print(df.shape)
df.head(2)

(793223, 13)

,상품명,가격,총점,리뷰수,날짜,아이디,별점,내구성,가격.1,디자인,배송,좋아요,내용
0,크리스마스 LED 테이퍼 초 블랙폿 테이블 센터피스 장식 소품,"25,000원",4.5,2,2020.11.28 ∙ 오늘의집 구매,warmest_,4.8,4.0,5.0,5.0,5.0,0,오브제 덕분에 지인들과 짧지만 좋은 시간을 가졌습니다:) 디테일도 마음에 들고 확실...
1,크리스마스 LED 테이퍼 초 블랙폿 테이블 센터피스 장식 소품,"25,000원",4.5,2,2020.12.08 ∙ 오늘의집 구매,다현맘이,4.3,4.0,4.0,4.0,5.0,0,브라운을 시켰는데 레드가 왔구요..보니 빨간 열매 한알이 떨어져있네요 예쁘긴한데 내...

In [266]:
# 리뷰수, 좋아요까지 최종 조정된 진짜 통합본 내보내기
# df.to_excel("2차통합(리뷰수조정포함)_전체_리뷰데이터.xlsx")

In [220]:
df.shape

(793223, 13)

In [269]:
df.아이디.value_counts()[:20]

:)143         70
아비스파          66
kwon4702      64
왜내맘을흔드는건배     58
hye_myo       54
...754        51
박갑연           43
히뽀오오          42
Roh🍦          42
minmin8370    42
애플민경          42
홍구차차          40
ogayeong      40
Liche1004     39
.둥두ㅇ          39
JINNY32       39
희야에요          38
심재라93         37
perola✨       37
애3있는집         36
Name: 아이디, dtype: int64

In [211]:
# 합친 데이터프레임 상품명-리뷰수 합산
df.상품명.value_counts()

선데이 러그 7size 4colors                         33619
순수원목 선반장 4colors (가로2단)                      29225
오로라 단스탠드(전구 증정 이벤트)                          20335
애슐리 전신거울 3colors                             14545
집순이 슬리브 옥스포드 삼각 등쿠션 (솜포함, 2size / 6color)    14491
                                             ...
BEKVAM 3단 사다리                                    1
사이드보드 수납형 높은 거실장 1600 (2color)                   1
밀크 클래식 사계절 모달 차렵이불 SS Q                          1
[해외] Norm 06 전등갓 medium                          1
명화 반고흐 그림 엽서카드(pc81)                             1
Name: 상품명, Length: 3650, dtype: int64

In [212]:
# 상품별 데이터프레임 새로 생성
df_pre = pd.DataFrame(df['상품명'].value_counts())
df_pre.reset_index(level=0, inplace=True)
df_pre.columns = ['상품명', '리뷰수']
df_pre

                                            상품명    리뷰수
0                          선데이 러그 7size 4colors  33619
1                       순수원목 선반장 4colors (가로2단)  29225
2                           오로라 단스탠드(전구 증정 이벤트)  20335
3                              애슐리 전신거울 3colors  14545
4     집순이 슬리브 옥스포드 삼각 등쿠션 (솜포함, 2size / 6color)  14491
...                                         ...    ...
3645                              BEKVAM 3단 사다리      1
3646             사이드보드 수납형 높은 거실장 1600 (2color)      1
3647                    밀크 클래식 사계절 모달 차렵이불 SS Q      1
3648                    [해외] Norm 06 전등갓 medium      1
3649                       명화 반고흐 그림 엽서카드(pc81)      1

[3650 rows x 2 columns]

In [213]:
# 상품명 따로 빼기
pnames = df_pre['상품명'].tolist()
print(pnames[:10], len(pnames))

['선데이 러그 7size 4colors', '순수원목 선반장 4colors (가로2단)', '오로라 단스탠드(전구 증정 이벤트)', '애슐리 전신거울 3colors', '집순이 슬리브 옥스포드 삼각 등쿠션 (솜포함, 2size / 6color)', '소프트 모던 러그/카페트 4colors', '순수 원목 선반 신발장 2단', '헤링본 사이잘룩 라탄 러그 카페트 4colors 4size', 'BRUG 스탠드 행거 3colors', '가벽인테리어 스트라이프 파티션 4size 5colors(리뷰이벤트)'] 3650

In [214]:
df_pre.loc[df_pre.상품명 == '선데이 러그 7size 4colors']

                    상품명    리뷰수
0  선데이 러그 7size 4colors  33619

In [146]:
## 전처리 df에 상품별로 분류하기

In [215]:
n_review = []
rating = []
dura = []
pricing = []
ship = []
design = []
# 상품명별 총 별점, 내구성, 가격.1, 배송, 디자인 요소 평균내기

for pname in pnames:
    rating.append(df[df['상품명'] == pname]['별점'].mean())
    dura.append(df[df['상품명'] == pname]['내구성'].mean())
    pricing.append(df[df['상품명'] == pname]['가격.1'].mean())
    design.append(df[df['상품명'] == pname]['디자인'].mean())
    ship.append(df[df['상품명'] == pname]['배송'].mean())

df_pre['별점평균'] = rating
df_pre['내구성'] = dura
df_pre['가격.1'] = pricing
df_pre['디자인'] = design
df_pre['배송'] = ship

df_pre.head(10)

,상품명,리뷰수,별점평균,내구성,가격.1,디자인,배송
0,선데이 러그 7size 4colors,33619,4.684907,4.696303,4.635147,4.652399,4.717213
1,순수원목 선반장 4colors (가로2단),29225,4.625530,4.702036,4.472643,4.720890,4.561027
2,오로라 단스탠드(전구 증정 이벤트),20335,4.726973,4.706811,4.638997,4.793951,4.728940
3,애슐리 전신거울 3colors,14545,4.644813,4.710416,4.447370,4.779306,4.597044
4,"집순이 슬리브 옥스포드 삼각 등쿠션 (솜포함, 2size / 6color)",14491,4.516797,4.386999,4.509558,4.549237,4.568491
5,소프트 모던 러그/카페트 4colors,14169,4.606048,4.625732,4.535112,4.552544,4.668219
6,순수 원목 선반 신발장 2단,11407,4.578206,4.681599,4.280617,4.626107,4.673709
7,헤링본 사이잘룩 라탄 러그 카페트 4colors 4size,9523,4.676289,4.640554,4.675417,4.653996,4.694634
8,BRUG 스탠드 행거 3colors,8957,4.582505,4.674780,4.320866,4.641286,4.646645
9,가벽인테리어 스트라이프 파티션 4size 5colors(리뷰이벤트),6457,4.541242,4.229209,4.527644,4.750658,4.595942

In [216]:
# excel파일로 내보내기
# df_pre.to_excel("2차통합(테마포함)_상품별_상세별점데이터.xlsx")

In [217]:
df_pre.shape

(3650, 7)

# 앞으로 해야할 작업
- 한 유저가 같은 아이템에 대해 여러 번 리뷰를 올렸다면 별점/내구성/가격.1/디자인/배송/좋아요 평균내기

In [270]:
df_pre.to_csv("2차통합_상품별정렬.csv")